body {
  font-family: "Roboto", sans-serif;
  margin: 30px;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

h1 {
  font-family: Shrikhand, Roboto, sans-serif;
}

/***** Partie 1 Recherche *****/
.header__title {
  text-align: center;
}

.recherche {
  border: none;
  background: #fbfbfb;
  text-align: center;
}

.recherche .recherche--haut {
  background: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0px 5px 5px 0px #dddddd;
          box-shadow: inset 0px 5px 5px 0px #dddddd;
}

.recherche .recherche--haut input {
  -webkit-box-shadow: inset 0px 5px 5px 0px #dddddd;
          box-shadow: inset 0px 5px 5px 0px #dddddd;
  background: #eaeaea;
  padding: 20px;
  border: transparent;
}

.recherche .recherche--bas {
  margin: 20px;
  text-align: center;
  padding: 0 50px 50px;
}

.commander {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 5px #aaa;
          box-shadow: 5px 5px 5px #aaa;
  cursor: pointer;
}

/***** Partie 2 Fonctionnement *****/
.fonctionnement h2 {
  text-align: center;
}

.fonctionnement li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 20px;
  margin: 15px 20px 15px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 2px 8px 2px #c4c4c4;
          box-shadow: 1px 2px 8px 2px #c4c4c4;
  background-color: #f5f5f5;
}

.fonctionnement li:hover {
  background: #f2eafb;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.fonctionnement p {
  font-weight: 500;
  margin-left: 20px;
}

.fonctionnement__groupe--chiffre {
  background: #9356dc;
  color: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: relative;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement__groupe--icon {
  color: grey;
  font-size: 20px;
  margin-left: 20px;
}

/***** Partie 3 Resto *****/
.resto h2 {
  text-align: center;
}

.card-resto {
  border-radius: 25px;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
  margin: 20px;
  background: #fff;
  padding-bottom: 10px;
}

.card-resto h3 {
  padding: 10px;
  margin: 0px;
}

.card-resto span {
  padding: 10px;
}

.card-resto img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 100%;
  max-height: 220px;
}

/***** Footer *****/
footer {
  background-color: #353535;
  padding: 10px;
  color: whitesmoke;
}

footer h3 {
  font-family: "Shrikhand", "sans-serif";
  padding: 5px;
  font-size: 30px;
  font-weight: 500;
}

footer li {
  padding: 5px 0 5px 0;
}

footer li a {
  color: white;
}

footer .fa-utensils {
  margin-right: 12px;
}

footer .fa-hands-helping {
  margin-right: 5px;
}

.main__img {
  width: 100%;
  height: 300px;
}

.main__menu {
  background-color: #f1f1f1;
}

.menu__title {
  font-family: Shrikhand, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.menu-ligne {
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px #aaa;
          box-shadow: 5px 5px 5px #aaa;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.menu-ligne h4 {
  margin: 0px;
  padding: 0px;
}

.ligne__dessous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */