//Code couleur

$color1-purple: #9356dc;

$color2-pink: #ff79da;

$color3-green: #99e2d0;

$linear-gradient: linear-gradient(to bottom right, #ff79da, #9356dc);



body {
  font-family: "Roboto", sans-serif;
  margin: 0px 20px 20px 20px;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

h1 {
  font-family: Shrikhand, Roboto, sans-serif;
}

// @MIXIN **********************************************

@mixin display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin btn__explo {
  background: $linear-gradient;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  box-shadow: 5px 5px 5px #aaa;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
    box-shadow: 4px 4px 6px #000;
  }
}

@mixin card {
  border-radius: 25px;
  box-shadow: 4px 4px 6px #aaa;
  margin: 20px;
  background: #fff;
  padding-bottom: 10px;
  position: relative;

  &:hover {
    transform: scale(1.01);
    background-color: whitesmoke;
  }
}

@mixin card-img {
  object-fit: cover;
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 100%;
  max-height: 220px;
}


@mixin menu-ligne {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;

  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;

  &:hover {
    padding-right: 75px;
  }

  &:hover .encoche {

    opacity: 1;
    transform: translate(0px);
  }

  &:hover .fa-check-circle {
    transform: rotate(0deg);
  }
}

@mixin encoche {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 50px;
  height: 60px;
  border-radius: 0px 15px 15px 0px;
  position: absolute;

  top: 540px;
  right: 30px;

  opacity: 0;
  transition: transform 330ms ease-in-out;

  .fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out;
  }
}

/***** Partie 1 Recherche *****/

.header__title {
  text-align: center;

}

.recherche {
  border: none;
  background: #fbfbfb;
  text-align: center;


  .recherche--haut {
    @include display;
    justify-content: center;
    background: #eaeaea;
    box-shadow: inset 0px 5px 5px 0px #dddddd;

    input {
      box-shadow: inset 0px 5px 5px 0px #dddddd;
      background: #eaeaea;
      padding: 20px;

      border: transparent;
    }
  }

  .recherche--bas {
    margin: 20px;
    text-align: center;
    padding: 0 50px 50px;
  }
}

.btn__explo {
  @include btn__explo;
}

/***** Partie 2 Fonctionnement *****/

.fonctionnement {
  h2 {
    margin-left: 30px;
  }

  li {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 15px 1px 10px 1px;
    border-radius: 20px;
    box-shadow: 1px 2px 8px 2px #c4c4c4;
    background-color: #f5f5f5;

    &:hover {
      background: #f2eafb;
      transform: scale(1.01);
      color: #9356dc;

      i {
        color: #9356dc;
      }
    }



  }



  p {
    font-weight: 500;
    margin-left: 20px;
  }
}

.fonctionnement__groupe--chiffre {
  background: $color1-purple;
  color: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: relative;
  right: 30px;

  @include display();
  justify-content: center;
}

.fonctionnement__groupe--icon {
  color: grey;
  font-size: 20px;
  margin-left: 20px;
}

/***** Partie 3 Resto *****/

.resto {
  h2 {
    margin-left: 20px;
  }
}

.card-resto {
  @include card;

  h3 {
    padding: 10px;
    margin: 0px;
  }

  span {
    padding: 10px;
  }
}

.card-resto img {
  @include card-img;
}

.nouveau {
  width: 100px;
  height: 15px;
  text-align: center;
  color: #008766;
  background: #99e2d0;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  top: 20px;
  font-weight: 500;
}

.enligne {
  @include display;

  margin: 0 10px;
}


.fa-heart {
  font-size: 30px;
  color: black;
  cursor: pointer;

  &:hover {
    background: linear-gradient(to left, #b35cdc, #e86edb, #ff79da);


  }


}



.decaler {
  margin: 0 10px;
}

/***** Footer *****/
footer {
  background-color: #353535;
  padding: 10px;

  color: whitesmoke;

  h3 {
    font-family: "Shrikhand", "sans-serif";
    padding-left: 40px;
    font-size: 20px;
    font-weight: 500;
  }

  li {
    padding: 5px 0 5px 0;

    a {
      color: white;
    }
  }

  .fa-utensils {
    margin-right: 12px;
  }

  .fa-hands-helping {
    margin-right: 5px;
  }
}

// CSS TOUTES LES PAGES **********************************************

.header__titre {
  @include display();

  h1 {
    margin-right: 100px;

  }
}

.main__img {
  width: 100%;
  height: 300px;
}

.main__menu {
  background-color: rgb(241, 241, 241);
}

.menu__title {
  @include display();
  font-family: Shrikhand, sans-serif;
  padding: 0 10px;
}


.entrees__titre {
  margin-left: 10px;

}

.ligne-verte {
  width: 40px;
  border: 2px solid #99e2d0;
  margin-left: 10px;
}




.menu-ligne {
  @include menu-ligne();
}

.menu-ligne h4 {
  margin: 0px;
  padding: 0px;

}

.ligne__dessous {
  @include display();

  p {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;


  }

  span {
    margin-right: 5px;

  }


}

.encoche {
  @include encoche;

}


.btn__com {
  @include btn__explo;
  width: 200px;
  height: 50px;
  margin: 10px 100px 10px 100px;
}

// Media querys@**************************************

@media screen and (min-width: 768px) {
  .fonctionnement h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
  }

  .fonctionnement__groupe {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    li {
      margin-right: 40px;
      background-color: whitesmoke;
    }
  }

  .resto h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
  }

  .resto__groupe {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .card-resto {
    width: 40%;
    height: 350px;
  }

  footer {
    text-align: center;
    background-color: whitesmoke;

    h3 {
      color: black;
      font-size: 40px;
      margin: 0;
    }

    li {
      a {
        color: black;
        font-size: 20px;
      }

      a:hover {
        color: $color2-pink;
        font-size: 22px;
      }
    }
  }
}