
/***** Footer *****/
/***** Footer *****/
/***** Footer *****/

footer {
    background-color: #353535;
    padding: 10px;
  
    color: whitesmoke;
  
    h3 {
      font-family: "Shrikhand", "sans-serif";
      padding-left: 40px;
      font-size: 20px;
      font-weight: 500;
    }
  
    li {
      padding: 5px 0 5px 0;
  
      a {
        color: white;
      }
    }
  
    .fa-utensils {
      margin-right: 12px;
    }
  
    .fa-hands-helping {
      margin-right: 5px;
    }
  }