/***** Partie 3 Resto *****/
/***** Partie 3 Resto *****/


.resto {
    h2 {
      margin-left: 20px;
    }
  }
  
  .card-resto {
    @include card;
  
    h3 {
      padding: 10px;
      margin: 0px;
    }
  
    span {
      padding: 10px;
    }
  }
  
  .card-resto img {
    @include card-img;
  }
  
  .nouveau {
    width: 100px;
    height: 15px;
    text-align: center;
    color: #008766;
    background: #99e2d0;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 500;
  }
  
  .enligne {
    @include display;
  
    margin: 0 10px;
  }
  
  .decaler {
    margin: 0 10px;
  }
  
  