

.btn__explo {
    @include btn__explo;
  }

  .btn__com {
    @include btn__explo;
    width: 200px;
    height: 50px;
    margin: 20px;
  
    &:hover + .progress__bar {
      transform: rotate(180deg);
    }
  }

  .aligne-btn {
    text-align: center;
  }
  