
// CSS TOUTES LES PAGES **********************************************
// CSS TOUTES LES PAGES **********************************************
// CSS TOUTES LES PAGES **********************************************

.header__titre {
    @include display();
  
    h1 {
      margin-right: 100px;
    }
  }
  
  .main__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .main__menu {
    @include main-menu;
  }
  
  .menu__title {
    @include display();
    font-family: Shrikhand, sans-serif;
    padding: 0 10px;
  }
  
 
  
  .entrees {
    animation: visible 2s;
  }
  
  .entrees__titre {
    margin-left: 10px;
  
    &:hover + .ligne-verte {
      transform: rotate(180deg);
      border: 3px solid #e29999;
      width: 80px;
    }
  }
  
  .plats {
    animation: visible 4s;
  }
  
  .ligne-verte {
    width: 40px;
    border: 2px solid #99e2d0;
    margin-left: 10px;
    transition: transform 1s ease-in-out;
  }
  
  .menu-ligne {
    @include menu-ligne();
  }
  
  .menu-ligne h4 {
    margin: 0px;
    padding: 0px;
  }
  
  .ligne__dessous {
    @include display();
  
    p {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  
    span {
      margin-right: 5px;
    }
  }
  
  .encoche {
    @include encoche;
  }
  
  .dessert {
    animation: visible 6s;
  }
  
 
 
  
 